@model List<Course>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Course List</h1>
    
    @foreach (var course in Model)
    {
        <div>
            <h2>CourseID: @course.CourseId</h2>
            <p>Course Title: @course.CourseTitle</p>
            <p>Course Image: <img src="~/img/@course.CourseImage" alt="AspNet"></p>
        </div>
    }
</body>
</html>